.popup {
  position: absolute;
  bottom: 20px;
  right: 20px;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
  font-family: Ubuntu, sans-serif;
}