@import "../../theme/styles/var";

.aside {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }

  &__searchInput {

  }

  &__option_title {
    color: $mainBlueColor;
  }

  &__options {
    width: max-content;
    border: 1px solid $borderColor;
    border-radius: 5px;
    margin-left: 10px;
    color: $mainBlueColor;
  }
}