.order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  background-color: lightblue;
  border-radius: 5px;
  width: 100%;
}

.orderWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px 15px 5px 15px;
  //border: 1px solid white;
  border-radius: 5px;
}

.orderForAddress {
  display: flex;
  column-gap: 10px;
  align-items: center;
  vertical-align: center;
}