.table {


  &__header {

  }

  &__body {
  }

  &__headerCell {
    padding: 10px;
    font-size: 16px;
  }

  &__cell {
    text-align: center;
    padding: 10px;
  }

  &__row {
    //background-color: #ff6d6d;
  }
}

.unavailableProduct {
  color: red;
}