@import '../../../theme/styles/var';

.formWrapper {
  display: flex;
  padding: 20px;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
}

.input {
  display: flex;
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  outline: none;
  margin-top: 10px;
}

.errorMessage {
  padding-left: 10px;
  color: red;
}

.selectBlock {
  display: flex;
  column-gap: 50px;
}

.selectWrapper {
  display: flex;
  vertical-align: center;
  align-items: center;
}

.buttonWrapper {
  width: 95%;
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 40%;
  padding: 10px;
  color: $mainBlueColor;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}

.submitButton:hover {
  cursor: pointer;
}

.select {
  border: 1px solid $borderColor;
  border-radius: 5px;
  margin-left: 10px;
  color: $mainBlueColor;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .selectWrapper {
    flex-direction: column;
    align-items: start;
  }

  .formWrapper {
    width: 95%;
    margin-top: 20px;
  }
}

@media (max-width: $mobMin) {
  .select {
    flex-direction: column;

  }
}
