@import '../../../theme/styles/var';

.formWrapper {
  display: flex;
  //width: 100%;
  padding: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.errorMessage {
  padding-left: 10px;
  color: red;
}

.selectBlock {
  display: flex;
  column-gap: 50px;
}

.select {
  display: flex;
  vertical-align: center;
  align-items: center;
}

.submitButton {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}

.submitButton:hover {
  cursor: pointer;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .select {
    flex-direction: column;
    align-items: start;
  }

  .formWrapper {
    width: 95%;
    margin-top: 20px;
  }
}

@media (max-width: $mobMin) {
  .select {
    flex-direction: column;

  }
}
