// colors
$mainBlueColor: cornflowerblue;
$borderColor: lightgray;


// fonts


// @media width

$mobMin: 320px;
$mobMax: 480px;
$tabMin: 481px;
$tabMax: 992px;
$deskMin: 993px;
$deskMax: 1200px;
$deskXMin: 1201px;
$deskXMax: 1450px;



//$fontFamily: 'Montserrat', 'Century Gothic', sans-serif;
//
//$fontSizeTitleH1: 28px;
//$fontSizeTitleH1_tab: 26px;
//$fontSizeTitleH1_mobile: 24px;
//
//$fontSizeTitleH2: 24px;
//$fontSizeTitleH2_tab: 22px;
//$fontSizeTitleH2_mobile: 18px;
//
//$fontSizeTitleH3: 22px;
//$fontSizeTitleH3_tab: 18px;
//$fontSizeTitleH3_mobile: 16px;
//
//$fontSizeButton: 18px;
//$fontSizeButton_tab: 16px;
//$fontSizeButton_mobile: 15px;
//
//$fontSizeText: 16px;
//$fontSizeText_tab: 14px;
//$fontSizeText_mobile: 13px;