@import '../../theme/styles/var';
.button {
  background-color: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid $borderColor;
  color: $mainBlueColor;
  font-size: 18px;
  font-weight: lighter;
  transition: 0.3s ease all;
}

.button:hover {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid $mainBlueColor;
}

.detailsBtn {
  color: $mainBlueColor;
  font-weight: lighter;
  padding: 5px 10px;
  background-color: inherit;
  border: 1px solid $borderColor;
  border-radius: 5px;
  transition: 0.3s ease all;
}

.detailsBtn:hover {
  border: 1px solid $mainBlueColor;
}