@import "../../theme/styles/var";

.form {
  background-color: inherit;
  padding: 20px;
  border-radius: 10px;
  width: min-content;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.formRowWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 5px 0;
}

.selectField {
  width: max-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 10px;
  color: cornflowerblue;
}

.tableRow {
  display: flex;
  column-gap: 75px;
  padding: 0 0 15px 0;
  vertical-align: center;
  align-items: center;
}

.inputsWrapper {
  display: flex;
  column-gap: 75px;
}

.input {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.errorInput {
  box-shadow: 0 0 5px 0 red;
}

.orderButtons {
  padding: 15px 0;
  display: flex;
  column-gap: 10px;
}

.orderBtn {
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  color: cornflowerblue;
}

.orderBtn:hover {
  border-color: cornflowerblue;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.errorMsg {
  color: red;
  position: absolute;
  font-size: 14px;
  margin-top: 35px;
}

.orderSameData {
  display: flex;
  column-gap: 10px;
  align-items: center;
  vertical-align: center;
  padding-bottom: 10px;
}

.table {

}

.tableHeader {
  display: flex;
  column-gap: 75px;
  margin-top: 20px;
}

.tableCell {

}

.formTable {
  display: flex;
  flex-direction: column;
  padding: 15px 0 5px 0;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .form {

  }

}