@import "../../theme/styles/var";

.form {
  background-color: cornflowerblue;
  padding: 20px;
  border-radius: 5px;
  //width: 100%;
  width: min-content;
}

.formRowWrapper {
  display: flex;
  flex-direction: column;
  //border-top: 1px solid white;
  //border-bottom: 1px solid white;
  padding: 15px 0 5px 0;
}

.tableRow {
  display: flex;
  //justify-content: space-between;
  column-gap: 75px;
  padding: 0 0 15px 0;
  vertical-align: center;
  align-items: center;
}

.inputsWrapper {
  display: flex;
  column-gap: 75px;
  //width: 60%;
}

.input {
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.errorInput {
  border: 2px solid red;
}

.orderButtons {
  padding: 15px 0;
  display: flex;
  //justify-content: flex-end;
  column-gap: 10px;
}

.orderBtn {
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  color: white;
}

.orderBtn:hover {
  background-color: lightgreen;
}

.inputWrapper {
  display: flex;
  // for mobile
  flex-direction: column;
  //align-items: center;
  //vertical-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.errorMsg {
  color: red;
  position: absolute;
  font-size: 14px;
  margin-top: 35px;
}

.orderSameData {
  display: flex;
  column-gap: 10px;
  align-items: center;
  vertical-align: center;
  padding-bottom: 10px;
}

.table {

}

.tableHeader {
  display: flex;
  column-gap: 75px;
  margin-top: 20px;
}

.tableCell {

}

.formTable {
  display: flex;
  flex-direction: column;
  padding: 15px 0 5px 0;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .form {

  }

}