.pageWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.orderWrapper {
  flex-direction: column;
  display: flex;
  row-gap: 30px;
  width: 60%;
}
.addOrder {
  display: flex;
  justify-content: center;
}