.confirmOrderSection {
  margin-top: 50px;
}

.confirmOrderBtn {
  width: max-content;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: 0.3s ease all;
  color: gray;
}

.confirmOrderBtn:hover {
  background-color: lightgreen;
  color: black;
}

.selectBrandSection {
  display: flex;
  column-gap: 20px;
}

.selectBrandButton {
  padding: 10px 15px;
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 5px;
  transition: 0.3s ease all;
}

.selectBrandButton:hover{
  background-color: lightgray;
  cursor: pointer;
}

.ropesTableSection {
  margin-top: 50px;
}