.burgerBtn {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 25px;
  overflow: hidden;
}

.burgerLines {
  border-top: 2px solid white;
  width: 25px;
  transition: 0.5s ease all;
}

.activeTopLine {
  transform: rotate(43deg) translateY(8px) translateX(5px);
  width: 28px;
}
.activeMiddleLine {
  transform: translateX(-35px);
}
.activeBottomLine {
  transform: rotate(-43deg) translateY(-8px) translateX(5px);
  width: 28px;
}