.orderTable {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.tableHeader {
  display: flex;
  //column-gap: 15px;
}

.tableRow {
  display: flex;
}

.tableCell {
  width: 100px;
  margin-right: 10px;
  //text-align: center;
}