.buttonsWrapper {
  display: flex;
  border: 1px solid black;
}

.inputWrapper {
  width: 30px;
  border: none;
  border-radius: 0;
  text-align: center;
  outline: none;
}

.buttons {
  width: 25px;
  border: none;
}