@import "../../theme/styles/var";

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

.header {
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.title {
  font-size: 25px;
}

.body {
  //width: 80%;
  padding-top: 20px;
  color: cornflowerblue;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .body {
    width: 100%;
  }
}

.div {
  color: black;
}
