@import '../../theme/styles/var';

.navigation {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: cornflowerblue;
  overflow: hidden;
  transition: 0.4s ease all;
}

.navigationClose {
  width: 80px;
}

.burgerWrapper {
  padding: 20px 0  0 30px;
}

.ul {
  margin-top: 50px;
  top: 0;
  left: 0;
  margin-left: -30px;
}

@media (min-width: $mobMin) and (max-width: $mobMax) {
  .navigation {
    position: absolute;
  }
  .navigationClose {
    background-color: inherit;
    width: min-content;
  }
  .burgerWrapper {
    background-color: cornflowerblue;
    padding: 20px;
  }

  .ulClosed {
    display: none;
  }
}


